replicas: 3

image: jupyter/nbviewer:c23e6be3

extraEnv:
  GOOGLE_ANALYTICS_ID: UA-52617120-5

nbviewer:
  extraArgs:
  - '--cache_expiry_min=3600'
  - '--cache_expiry_max=14400'
  - "--content_security_policy=connect-src *" # https://github.com/jupyter/nbviewer/issues/797
  - '--jupyter_js_widgets_version=2.1' # https://github.com/jupyter/nbviewer/issues/818
  - '--jupyter_widgets_html_manager_version=0.15' # https://github.com/jupyter/nbviewer/issues/818

statuspage:
  enabled: true
  pageId: fzcq6v7wcg65
  metricId: rfcg9djxtg6n
